@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
section {
  overflow: hidden;
  
}
.app {

  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('src/assets/photo-1563089145-599997674d42 (1).png');
  background-blend-mode: lighten;
  
  height: 100vh;
  width: 100vw;
}

.wrapper {
  
  padding: 25px;
  border: 1px solid rgb(96, 96, 96); 
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background: rgba(130, 11, 209, 0.397);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.app__image {
  margin: 24px;
  max-height: 500px;
  width: auto;
  border-radius: 10px;
}
.location_searcher {
  padding: 8px;
  color: rgba(151, 12, 206, 0.616);
  background-color: #20e4ca;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.location_input {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #e0dada23;
  border-radius: 10px;
  
}

.temp {
  margin: 5px;
  font-family: Poppins;
  color: #2e2e2e;
}
